@import "tailwindcss";

@font-face {
  font-family: "Shaven Akuru";
  src: url("/Shavenakuru-Regular.ttf");
}
@font-face {
  font-family: "Roboto Slab";
  src: url("/RobotoSlab-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("/Raleway-VariableFont_wght.ttf");
}
.shaven-akuru {
  font-family: "Shaven Akuru", sans-serif;
}

@theme {
  --color-light-background: #f7dad9;
  --color-dark-background: #a5907e;
  --color-light-text: #786452;
  --color-dark-text: #443730;
  --color-dark-accent: #550c18;
  --color-light-passive: #550c18;
  --color-light-active: #786452;
  --color-dark-passive: #f7dad9;
  --color-dark-active: #a5907e;

  --font-shaven-akuru: "Shaven Akuru", sans-serif;
}
