@import "tailwindcss";

@font-face {
  font-family: "Shaven Akuru";
  src: url("/Shaven-Akuru/Shavenakuru-Regular.ttf");
}
@font-face {
  font-family: "Roboto Slab";
  src: url("/Shaven-Akuru/RobotoSlab-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("/Shaven-Akuru/Raleway-VariableFont_wght.ttf");
}

@theme {
  --color-light-background: #f7dad9;
  --color-dark-background: #a5907e;
  --color-light-text: #786452;
  --color-dark-text: #443730;
  --color-dark-accent: #550c18;
  --color-light-passive: #786452;
  --color-light-active: #550c18;
  --color-dark-passive: #f7dad9;
  --color-dark-active: #a5907e;

  --font-shaven-akuru: "Shaven Akuru", sans-serif;
  --font-roboto-slab: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}
