@import "tailwindcss";

@font-face {
  font-family: "Shaven Akuru";
  src: url("/Shavenakuru-Regular.ttf");
}
@font-face {
  font-family: "Roboto Slab";
  src: url("/RobotoSlab-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("/Raleway-VariableFont_wght.ttf");
}
.shaven-akuru {
  font-family: "Shaven Akuru", sans-serif;
}
