---
import Layout from "../layouts/Layout.astro";
---
<Layout>
 <div class="flex flex-col">
    <div class="p-2 m-2 flex flex-row w-fit">
        <img src="/favicon.svg" width="30%" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo quas amet exercitationem repellendus doloribus quia voluptatum at quidem! Sit quas temporibus deleniti corrupti perferendis architecto perspiciatis laudantium nulla obcaecati sunt?</p>
    </div>
    <div class="p-2 m-2 flex flex-row w-fit">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo quas amet exercitationem repellendus doloribus quia voluptatum at quidem! Sit quas temporibus deleniti corrupti perferendis architecto perspiciatis laudantium nulla obcaecati sunt?</p>
        <img src="/favicon.svg" width="30%" alt="">
    </div>
 </div>
</Layout>