---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section class="flex justify-center items-center h-screen">
		<h1 class="text-[5rem] ">Shaven Akuru</h1>
	</section>
</Layout>

<style>
	h1{
		font-family: 'Shaven Akuru';
	}
</style>