---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section class="flex justify-center items-center h-screen flex-col">
		<h1 class=" text-center text-[5.5rem] md:text-[8.5rem] font-bold shaven-akuru">Shaven Akuru</h1>
		<h3>A playful handwritten font made for <a href="https://typeface.hackclub.com/">Typeface</a></h3>

	</section>
	<div class="mt-4 text-center">
			<p class="shaven-akuru text-6xl">The quick brown fox jumps over the lazy dog</p>
			<p class="shaven-akuru text-5xl">The quick brown fox jumps over the lazy dog</p>
			<p class="shaven-akuru text-4xl">The quick brown fox jumps over the lazy dog</p>
			<p class="shaven-akuru text-3xl">The quick brown fox jumps over the lazy dog</p>
			<p class="shaven-akuru text-2xl">The quick brown fox jumps over the lazy dog</p>
			<p class="shaven-akuru text-xl">The quick brown fox jumps over the lazy dog</p>
	</div>
	<section class=" flex flex-col align-center text-center justify-center h-screen">
		<h2 class="text-3xl">Features</h2>
		<div class="flex flex-row justify-around">
			<div class="p-3">
				<img src="https://placehold.co/400" alt="">
				<legend>Crisp and clear characters</legend>
			</div>
			<div class="p-3">
				<img src="https://placehold.co/400" alt="">
				<legend>Uneven line height for an authentic feel</legend>
			</div>
			<div class="p-3">
				<img src="https://placehold.co/400" alt="">
				<legend>Sans serif based for informal nature</legend>
			</div>
		</div>
				<a href="/install">Install Font</a>
	</section>

</Layout>

<style>
	h1{
		color: white;
		background: url("https://media.istockphoto.com/id/507843358/photo/fire-flames-on-black-background.jpg?s=170667a&w=0&k=20&c=hF0fxWGpUL8d7OsI_YCDdJxXO3e8gx3rtTzeOCEdiZI=");
		-webkit-background-clip: text;
		   -webkit-text-fill-color: transparent;
	}
	h2{
		font-family: 'Shaven Akuru', serif;
	}
	h3{
		font-family: 'Roboto Slab', serif;
	}
	
</style>