---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
	<section class="flex justify-center items-center h-[60vh] md:h-screen flex-col text-center">
		<h1 class="text-[5.5rem] md:text-[8.5rem] font-bold font-shaven-akuru line-clamp-2 leading-19 md:leading-tight text-dark-accent">Shaven Akuru</h1>
		<h3 class="mt-7 text-[1.2rem] md:text-[1.6rem] text-dark-text font-roboto-slab">A playful handwritten font made for <u> <a href="https://typeface.hackclub.com/">Typeface</a></u></h3>

	</section>
	<div class=" text-center h-[30vh] md:h-screen text-dark-text">
			<p class="font-shaven-akuru text-[5vw]">The quick brown fox jumps over the lazy dog</p>
			<p class="font-shaven-akuru text-[4vw]">The quick brown fox jumps over the lazy dog</p>
			<p class="font-shaven-akuru text-[3vw]">The quick brown fox jumps over the lazy dog</p>
			<p class="font-shaven-akuru text-[2vw]">The quick brown fox jumps over the lazy dog</p>
			<p class="font-shaven-akuru text-[1.5vw]">The quick brown fox jumps over the lazy dog</p>
			<p class="font-shaven-akuru text-[1vw]">The quick brown fox jumps over the lazy dog</p>
	</div>
	
	<section class=" flex flex-col text-center h-screen text-dark-text">
		<h2 class="text-[5rem] font-shaven-akuru ">Features</h2>
		<div class="flex flex-row justify-around flex-wrap">
			<div class=" flex justify-between flex-col text-center items-center">
				<img src="/Shaven-Akuru/cali-logo.png" class="rounded-xl w-[70vw] md:w-[80%] ">
				<legend class="p-2 m-2 font-raleway font-semibold">Crisp and clear characters, made with <a href="https://www.calligraphr.com/en/"><u>Calligraphr</u></a></legend>
			</div>
			<div class=" flex justify-between flex-col text-center items-center">
				<img src="/Shaven-Akuru/uneven-line.png" alt="" class="rounded-xl w-[70vw] md:w-[80%]">
				<legend class="p-2 m-2 font-raleway font-semibold">Uneven line height for an informal feel</legend>
			</div>
			<div class=" flex justify-between flex-col text-center items-center">
				<img src="/Shaven-Akuru/rvisual.png" alt="" class="rounded-xl w-[70vw] md:w-[80%]">
				<legend class="p-2 m-2 mb-10 md:mb-2 font-raleway font-semibold	">Various artifacts to add authenticity</legend>
			</div>
		</div>

	</section>

</Layout>
