---
const {pathname} = Astro.url;

---
<nav class="bg-dark-background flex items-center justify-center p-3 h-18">
    <div class="text-4xl navbar-links font-shaven-akuru text-light-passive">
        <a class={pathname.slice(1) === '' ? 'active p-2 mx-2' : 'p-2 mx-2'} href="/Shaven-Akuru/">
            Home
        </a>
        <a class={pathname.slice(1) === 'install' ? 'active p-2 mx-2' : 'p-2 mx-2'} href="/Shaven-Akuru/install">
            Install
        </a>
        <a class={pathname.slice(1) === 'about' ? 'active p-2 mx-2' : 'p-2 mx-2'} href="/Shaven-Akuru/about" >
            About
        </a>
    </div>
</nav>
<script>
const homeLink = document.getElementById("home");
const installLink = document.getElementById("install");
const aboutLink = document.getElementById("about");
</script>
<style>
    .active{
        color: var(--color-dark-text);
    }
</style>
